body {
    font-family: Graphik-Regular;
}
h1   {
    font-size: 6.7rem;
    color: #000000;
    letter-spacing: -2px;
    text-align: center;
    line-height: 100px;
}
h4 {
    font-size: 32px;
    color: rgba(28,28,28,0.50);
    letter-spacing: -0.64px;
    line-height: 42.67px;
}