@mixin spacing-generator($side, $count: 30) {
    @for $i from 1 to $count {
      .margin-#{$side}--#{$i * 5} {
        margin-#{$side}: $i * .5rem !important;
      }
      .padding-#{$side}--#{$i * 5} {
        padding-#{$side}: $i * .5rem !important;
      }
    }
  }
  
  @include spacing-generator(top);
  @include spacing-generator(bottom);
  @include spacing-generator(left);
  @include spacing-generator(right);

  .grid-x {
    justify-content: space-between;
  }
  .img-container {
    overflow: hidden;
    transition: transform .35s ease;
  }
  .img-container:hover {
    transform: scale(.97);
  }
  .img-container img {
    transition: transform .35s ease;
    cursor: pointer;
  }
  .img-container img:hover {
    transform: scale(1.05);
  }
  .heading-container {
    overflow: hidden;
    padding-bottom: .5rem;
  }
  .mt-28 {
    margin-top:2.8%;
  }
  .feed-container {
    margin-top: 10.2%;
    margin-bottom: 10.2%;
  }