@font-face {
    font-family: 'Graphik Web';
    src: url('../fonts/Graphik-Medium-Web.eot');
    src: url('../fonts/Graphik-Medium-Web.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Graphik-Medium-Web.woff2') format('woff2'),
    url('../fonts/Graphik-Medium-Web.woff2') format('woff');
    font-weight:  500;
    font-style:   normal;
  }
  
  @font-face {
    font-family: 'Graphik Web';
    src: url('../fonts/Graphik-Regular-Web.eot');
    src: url('../fonts/Graphik-Regular-Web.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Graphik-Regular-Web.woff2') format('woff2'),
    url('../fonts/Graphik-Regular-Web.woff') format('woff');
    font-weight:  400;
    font-style:   normal;
  }

body {
    font-family: 'Graphik Web';
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: 'Graphik Web';
    font-style: normal;
    font-weight: 400;
    color: inherit;
    text-rendering: optimizeLegibility;
}
h1   {
    font-size: calc(42px + 56*(100vw - 320px)/1264);
    color: #000000;
    letter-spacing: -0.04em;
    text-align: center;
    line-height: 100%;
    margin-bottom: 0;
}
.hero-h2 {
    margin-bottom: .5rem;
}
h4 {
    font-size: calc(24px + 10*(100vw - 320px)/1264);
    color: rgba(28,28,28,0.50);
    letter-spacing: -0.64px;
    line-height: 42.67px;
}
h5 {
    font-size: 24px;
    color: #191919;
    letter-spacing: -0.24px;
    text-align: center;
    line-height: 36px;
}
.subtitle {
    color: rgba(25,25,25,0.50);
}
a {
    color: rgba(25,25,25,0.50);
}
a:hover {
    color: #FF3300;
}
